<div id="wrapper">
<!-- Topbar Start -->
 <div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="dropdown d-none d-lg-block">
            <a class="nav-link dropdown-toggle mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="\assets\images\flags\us.jpg" alt="user-image" class="mr-2" height="12"> <span class="align-middle">English <i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <img src="\assets\images\flags\vietnam.png" alt="user-image" class="mr-2" height="12"> <span class="align-middle">Viet Nam</span>
                </a>
            </div>
        </li>

      

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle  waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <i class="mdi mdi-bell-outline noti-icon"></i>
                <% if (info.notification.notifyCount > 0) { %>
                    <span class="badge badge-pink rounded-circle noti-icon-badge">
                        <%= info.notification.notifyCount %>
                    </span>
                    <% }
                %>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5 class="font-16 m-0">
                        <span class="float-right">
                            <a href="" class="text-dark">
                                <small>Clear All</small>
                            </a>
                        </span>Notification
                    </h5>
                </div>

                <div class="slimscroll noti-scroll">
                    <!-- item-->
                    <% info.notification.lstNoti.forEach(function(notify) { %>
                        <div class="dropdown-item notify-item noti-item" id-notify='<%= notify.idNoti %>'>
                            <div class="notify-icon">
                                <% if (notify.type==3) { %>
                                    <i class="mdi mdi-account-group text-info"></i>
                                    <% }
                                %>
                                <% if (notify.type==2) { %>
                                    <i class="mdi mdi-weather-sunny text-info"></i>
                                    <% }
                                %>
                                <% if (notify.type==1) { %>
                                    <i class="ion ion-md-alert text-warning"></i>
                                    <% }
                                %>
                            </div>
                            <p class="notify-details" data-toggle="tooltip" title = '<%= notify.content %>'><%= notify.content %>
                                <small class="noti-time"><%= notify.relativeTime %></small>
                            </p>
                            <% if (notify.type==3) { %>
                                <div class="text-right" id-space-invite="<%= notify.spaceInviteId %>">
                                    <button class="btn btn-warning waves-effect waves-light btn-sm btn-disagree-space">Disagree</button>
                                    <button class="btn btn-primary waves-effect waves-light btn-sm btn-agree-space">Agree</button>
                                  </div>
                                <% }
                            %>
                        </div>
                    <% }); %>
                
                    

                    <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon text-success">
                            <i class="mdi mdi-account-plus text-primary"></i>
                        </div>
                        <p class="notify-details">New user registered.
                            <small class="noti-time">5 hours ago</small>
                        </p>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon text-danger">
                            <i class="mdi mdi-heart text-danger"></i>
                        </div>
                        <p class="notify-details">Carlos Crouch liked 
                            <small class="noti-time">3 days ago</small>
                        </p>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon text-warning">
                            <i class="mdi mdi-comment-account-outline text-primary"></i>
                        </div>
                        <p class="notify-details">Caleb Flakelar commented on Admi
                            <small class="noti-time">4 days ago</small>
                        </p>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon text-purple">
                            <i class="mdi mdi-account-plus text-danger"></i>
                        </div>
                        <p class="notify-details">New user registered.
                            <small class="noti-time">7 days ago</small>
                        </p>
                    </a>

                     <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon text-danger">
                            <i class="mdi mdi-heart text-danger"></i>
                        </div>
                        <p class="notify-details">Carlos Crouch liked <b>Admin</b>.
                            <small class="noti-time">Carlos Crouch liked</small>
                        </p>
                    </a> -->
                </div>
            </div>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="https://robohash.org/<%= info.id%>" alt="user-image" class="rounded-circle">
                <span class="pro-user-name ml-1">
                    <%= info.fullName%>  <i class="mdi mdi-chevron-down"></i> 
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="mdi mdi-account-outline"></i>
                    <span>Profile</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="mdi mdi-settings-outline"></i>
                    <span>Settings</span>
                </a>
            

                <!-- item-->
                <a href="/api/auth/logout" class="dropdown-item notify-item">
                    <i class="mdi mdi-logout-variant"></i>
                    <span>Logout</span>
                </a>

            </div>
        </li>

  

    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="index.html" class="logo text-center logo-dark">
            <span class="logo-lg">
                <img src="\assets\images\logo-dark.png" alt="" height="18">
                <!-- <span class="logo-lg-text-dark">Velonic</span> -->
            </span>
         
        </a>

        <a href="index.html" class="logo text-center logo-light">
            <span class="logo-lg">
                <img src="\assets\images\logo-light.png" alt="" height="18">
                <!-- <span class="logo-lg-text-dark">Velonic</span> -->
            </span>
        </a>
    </div>

    <!-- LOGO -->


    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile waves-effect">
                <i class="mdi mdi-menu"></i>
            </button>
        </li>

        <li class="d-none d-lg-block">
            <form class="app-search">
                <div class="app-search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>
<!-- end Topbar --> <!-- ========== Left Sidebar Start ========== -->