<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  <!-- App css -->
  
  <link href="\assets\css\virtual-select.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="\assets\highlight\styles\androidstudio.min.css">
  
  <%- include('fragment/app-style'); -%>
  <link href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link href="\css\list-all.css" rel="stylesheet" type="text/css">

</head>
<body>
    <%- include('fragment/top-bar'); -%>
    <%- include('fragment/left-slider'); -%>

    
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                <div class="row mt-3">
                <div class="col-md-2">
                        <div  id="select-typeGroup"></div>
                </div>
               
                 <div class="col-md-2">
                       <div  id="select-typeKeyWord"></div>
                 </div>
              
                
                 <div class="col-md-3">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="padding: 0 5px;"><img class="icon-select" src="images\icons\icons8-date-65.png" ></span>
                        </div>
                          <input aria-describedby="basic-addon1" class="form-control" id="dateRangePicker" type="text" name="daterange"  />

                      </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group mb-3">
                        <input type="text" id="keywordSeach" class="form-control" placeholder="Keyword" aria-label="Keyword" aria-describedby="basic-addon3">
                      </div>
                </div>
              
            
               
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary waves-effect width-md waves-light search-list-btn"><i class=" fas fa-search"></i> Search</button>
                </div>
                </div>
                <div class="row mt-2">
                 <div class="col-12">
                     <div class="card">
                         <div class="card-body table-responsive">
                            <div class="row">   
                                <div class="col-7">
                                    <h4 class="m-t-0 header-title mb-4"><b>List Note</b></h4>
                                   
                                </div>
                               
                                <div class="col-4">
                                    <div class="row border">
                                     <div class="col-2">
                                        <span class="font-weight-bold text-center align-middle"> Total: </span> 
                                     </div>
                                     <div class="col-2">
                                        <span class="font-weight-bold align-middle" id="totalNote">0</span>
                                     </div>
                                     <div class="col-3 align-self-center text-center keyword-cl-fill " >Keyword</div>
                                    <div class="col-3 al align-self-center text-center code-cl-fill ">Code</div>
                                    <div class="col-1 setting-icon"> <i class=" ion ion-md-settings"></i></div>
                                    </div>
                                </div>
                               
                            </div>

                             <table class="table dt-responsive nowrap table-hover mt-2" id="tb-scroll" >
                                 <tbody id="table-list-note">
                                    
                                 </tbody>
                             </table>
                         </div>
                     </div>
                    </div>
                 </div>

            </div>
            <!-- end container-fluid -->

        </div>
        <!-- end content -->
        

     

    <%- include('fragment/footer'); -%>

    <!-- <%- include('fragment/footer'); -%> -->


    <%- include('fragment/scriptcommon'); -%>
    <script src="\assets\highlight\highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
       <script src="\assets\js\virtual-select.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
       <script src="\js\list-all.js"></script>
      

</body>
</html>