<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  <!-- App css -->
  
  <link href="\assets\css\virtual-select.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="\assets\highlight\styles\androidstudio.min.css">
  
  <%- include('fragment/app-style'); -%>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>
  <link href="\css\team-space.css" rel="stylesheet" type="text/css">

</head>
<body>
    <%- include('fragment/top-bar'); -%>
    <%- include('fragment/left-slider'); -%>

    
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                <div class= "area-tool-bar">
                    <input type="hidden" id="spaceId" value="<%= spaceInfo.id%>">
                    <div class="card border-primary tool-bar-fixed mx-auto">
                        <div class="col-4 ">
                            <div class="row ">
                                <div class="col-3 text-ver-center-tool-bar font-weight-bold">Members(<%= spaceInfo.memberCount %>)</div>
                                    <div class="col-1">
                                        <i class="ion ion-md-add-circle-outline" id="btn-add-member" style="padding-top: 16px;font-size: 24px; cursor: pointer;"></i> </i>
                                    </div>
                                <div class="col-8">
                                    <ul class="social-links list-inline mb-2 mt-2 list-avatar-member ">
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><img class="icon-avatar-member" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt=""></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><img class="icon-avatar-member" src="https://robohash.org/62d449d144261rtya4c2ef97c4f" alt=""></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><img class="icon-avatar-member" src="https://robohash.org/62d449d144261rtyrea4c2ef97c4f" alt=""></a>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="row list-keyword-teamspace">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view keyword-tag" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                        Graphics Desigsdfaaaaaaaaaaaaaaaner asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                       sdfknsdfnsdsadfsd
                                       sadfsdfsd
                                       asdfsdafsad
                                       fasdfasdfsda
                                       fsdfsdfnsdf
                                    </p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                       ser asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                        Graphics DesigsdfaaaaaaaaGraphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner Graphics Desigsdfaaaaaaaaaaaaaaaner aaaaaaaner asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                        Graphics Desigsdfaaaaaaaaaaaaaaaner asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                        Graphics Desigsdfaaaaaaaaaaaaaaaner asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                        Graphics Desigsdfaaaaaaaaaaaaaaaner asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                        Graphics Desigsdfaaaaaaaaaaaaaaaner asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                        Graphics Desigsdfaaaaaaaaaaaaaaaner asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body card-note">
                                <div class="media ">
                                    <div class="media-body info note-content-view" isExtend="false">
                                       <p class="note-text-view prevent-select">
                                        Graphics Desigsdfaaaaaaaaaaaaaaaner asd</p>
                                       <div class="list-btn-action hide">
                                        <a href="javascript:void(0)" class="ion ion-md-create btn-outline-primary btn btn-edit-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-md-copy btn-outline-primary btn btn-copy-note"></a>
                                        <a href="javascript:void(0)" class="ion ion-logo-google btn-outline-primary btn btn-search-google"></a>
                                        </div>
                                    </div>
                                    <div class="right-box-info info-page">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <a  href="#">
                                                    <img class="logo-page rounded " src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" alt="">
                                                </a>
                                            </div>
                                            <div class="col-10"><span>Facebook.com</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 title-page" data-toggle="tooltip" title="Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express" >Node.js Tutorial: Phần 7 - Sử dụng EJS làm Template Engine trong Express</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media temp-card">
                                 
                                </div>
                                
                                <hr>
                                <ul class="social-links list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-add-circle "></a>
                                    </li>
                                    <li class="list-inline-item">
                                      <a href="javascript:void(0)" class="ion ion-ios-star btn-favorite"></a>
                                    </li>
                                    <li class="list-inline-item">
                                    <a href="javascript:void(0)"   class="ion ion-ios-share-alt btn-to-page"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class="ion ion-md-trash  btn-delete-keyword"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" class=" mdi mdi-comment-text-multiple"></a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <a  href="javascript:void(0)" class="border-primary">
                                            <img class="avatar-sm rounded-circle avatar-author-note   bx-s" src="https://robohash.org/62d449d144261a4c2ef97c4f" alt="">
                                        </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                
                </div>
            </div>
            <!-- end container-fluid -->

        </div>
        <!-- end content -->
        

     

    <%- include('fragment/footer'); -%>

    <!-- <%- include('fragment/footer'); -%> -->


    <%- include('fragment/scriptcommon'); -%>
    <script src="\assets\highlight\highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
       <script src="\assets\js\virtual-select.min.js"></script>
       <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
       <script src="\js\team-space.js"></script>
      

</body>
</html>